body {
  background-image: url("flag.jpg");
  background-color: black;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: fantasy;
  }

@font-face {
  src: url("Treamd.ttf");
  font-family: Treasure;
}

h1 {
  color: white;
  text-align: center;
  font-family: Treasure;
  font-size: 62pt;

}
h2{
  color: white;
  text-align: center;
  font-family: Treasure;
  font-size: 36pt;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


p{
  text-align:center;
}

footer {
  text-align: center;
  color: red;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 16pt;

}

/*.jumbotron{
  position: relative;
  width:100%;
  height: 100%;
  background-size: 100% 100%;
  background-image: url("http://31.media.tumblr.com/e49977b6b17fcef407c976111dfc6de8/tumblr_msi0cwTWKI1r22d6wo1_500.gif");
}*/

.text-center {
  margin: 10px
}

.container-fluid{
  margin:auto;

}

.grid{
  margin: auto;
  display: none;
}

#pirate1input{
  margin-left: 5%;
  padding-right: 1%;
  font-size: 12pt;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  text-align: center;
}

#pirate2input{
  float: right;
  margin-right: 5%;
  padding-right: 1%;
  font-size: 12pt;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  text-align: center;
}

#startButton{
  font-size: 12pt;
  height: 30px;
  line-height: 30px;
  background-color: #ffffff;
  border-radius: 10px;

}

#playAgainButton{
  display: none;
  font-size: 12pt;
  height: 30px;
  line-height: 30px;
  background-color: #ffffff;
  border-radius: 10px;
}

#resetButton{
  display: none;
  font-size: 12pt;
  height: 30px;
  line-height: 30px;
  background-color: #ffffff;
  border-radius: 10px;
}

td {
  border: 1px solid black;
  text-align: center;
  background-color: white;
  height:10vw;
  width: 10vw;

}

.cellButton {
  width: 100%;
  height: 100%;
  padding: 1px;
  opacity: 0;
}

img {
  height: 5vw;
  width: 5vw;
}

#kraken {
  width: 100%;
  height:auto;
  display: none;
}

ul {
  list-style-type: none;
  text-align: center;
}
